body{
	 background:#f2f2f2;
	margin : 0 auto;
    margin-top: 50px;
	padding : 0;
	position : relative;
}

#footer{
	margin-top:50px;
    background-image:url(../images/noir.png);
	height:40px;
 font-family: fantasy;
	
}