
        
        #navigateur{
	
	background:#004b88;
	border-color:#004b88;
	
	
	
}
#navigateur a{
	
	color:white;
	
	
}
#dropnav a{
	background:white;
	color:black;
	
	
}
#dropnav a:hover{
	background:#004b88;
	color:white;
	
	
}
#hoverlink a:hover,
#hoverlink a:focus{
	
	background:#7ea6c6;
	color:white;
	border-radius:4px;
}





       